{%extends 'base.html'%}
{% load mathfilters%}

{%block styles%}
{{block.super}}
{%endblock%}

{load bootstrap3}
{%block content%}
<div class="banner">
  <div class="banner_content">
    <h1>Welcome to Movie Slack</h1>
    <form class="form-inline my-2 my-lg-0" method="GET" role='search' action="{% url 'search_movies' %}">

      <input class="form-control mr-sm-2" type="search" name='search_movie' placeholder="Search Movie"
        aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</div>
<div class="display_movies">
  <h3>Popular Movies</h3>
  <hr>
  <div class="row d-flex justify-content-around">
    {% for result in results%}

    <div class="card col-md-3 m-3 " style="width: 18rem;">
      <a href="{% url 'single_movie' result.id %}">
        <img class="card-img-top" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{result.poster_path}}"
          alt="Card image cap">
        <p class="btn btn-success">{{result.vote_average|mul:10}}%</p>
      </a>
      <div class="card-body">
        <h5 class="card-title"><strong>{{result.original_title}}</strong></h5>
        <p class="card-text">{{result.overview|truncatechars:250}}</p>
      </div>
      <div class="card-footer"><strong>Release Date:</strong> {{result.release_date}}</div>
    </div>

    {%endfor%}
  </div>

  <h3>Top Rated</h3>
  <hr>
  <div class="row">
    {% for result in top_rated%}

    <div class="card col-md-2" style="width: 18rem;">
      <a href="{% url 'single_movie' result.id %}">
        <img class="card-img-top" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{result.poster_path}}"
          alt="Card image cap">
        <p class="btn btn-success">{{result.vote_average|mul:10}}%</p>
      </a>
      {% for message in messages%}
      <div class="alert alert">{{message}}</div>
      {%endfor%}
      
      <div class="card-body">
        <h5 class="card-title"><strong>{{result.original_title}}</strong></h5>
        <p class="card-text">{{result.overview|truncatechars:250}}</p>
      </div>
      <div class="card-footer"><strong>Release Date:</strong> {{result.release_date}}</div>
    </div>

    {%endfor%}
  </div>
</div>

{%endblock%}