{%extends 'base.html'%}
{% load mathfilters%}

{%block styles%}
{{block.super}}
{%endblock%}

{load bootstrap3}
{%block content%}
<div class="banner">
  <div class="banner_content">
    <h1>Welcome to Movie Slack</h1>
    <form class="form-inline my-2 my-lg-0" method="GET" role='search' action="{% url 'search_movies' %}">

      <input class="form-control mr-sm-2" type="search" name='search_movie' placeholder="Search Movie"
        aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</div>
<div class="display_movies">
  <h3>Popular Movies</h3><hr>
  <div class="row">
    {% for result in results%}

    <div class="card col-md-2" style="width: 18rem;">
      <img class="card-img-top" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{result.poster_path}}"
        alt="Card image cap">
      <a href="#" class="btn btn-success">{{result.vote_average|mul:10}}%</a>
      <div class="card-body">
        <h5 class="card-title"><strong>{{result.original_title}}</strong></h5>
        <p class="card-text">{{result.overview|truncatechars:250}}</p>
      </div>
      <div class="card-footer"><strong>Release Date:</strong> {{result.release_date}}</div>
    </div>

    {%endfor%}
  </div>

  <h3>Top Rated</h3>
  <hr>
  <div class="row">
    {% for result in top_rated%}

    <div class="card col-md-2" style="width: 18rem;">
      <img class="card-img-top" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{result.poster_path}}"
        alt="Card image cap">
      <a href="#" class="btn btn-success">{{result.vote_average|mul:10}}%</a>
      <div class="card-body">
        <h5 class="card-title"><strong>{{result.original_title}}</strong></h5>
        <p class="card-text">{{result.overview|truncatechars:250}}</p>
      </div>
      <div class="card-footer"><strong>Release Date:</strong> {{result.release_date}}</div>
    </div>

    {%endfor%}
  </div>
</div>
<footer>
  <div class="footer bg-dark">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b2cae1a0b59_social_fb_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b2cae1a0b59_social_fb_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b2cae1a0b59_social_fb_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Facebook">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbe947c3c406798839_social_twitter_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbe947c3c406798839_social_twitter_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbe947c3c406798839_social_twitter_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Twitter">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b61771a0b5b_social_Inst_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b61771a0b5b_social_Inst_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b61771a0b5b_social_Inst_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Instagram">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbd5d9bd38a4cab8ae_social_dribble_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbd5d9bd38a4cab8ae_social_dribble_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbd5d9bd38a4cab8ae_social_dribble_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Dribble">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b57f41a0b5a_social_behance_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b57f41a0b5a_social_behance_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b57f41a0b5a_social_behance_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Behance">


  </div>
  <p class="text-center">&copy;copyright Caleb Odinga</p>
</footer>
{%endblock%}