@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
}
.banner{
  background-image: url('../images/moviebanner2.jpg');
  background-position: center;
  background-position-x: center;
  margin-top: -3vh;
  width: 99vw;
}
.banner_content{
  background-color: rgba(0, 0, 0, 0.4);
  width: 98vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 35vh;
  color: white;

}
.display_movies{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navform{
  margin-top: 20px;
}
nav.navbar{
  width: 100%;
}
.footer{
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer>img{
  width: 100px;
  margin:0;
}
.footer>img:first-child:hover{
  background-color: blue;
}
.footer>img:nth-child(2):hover{
  background-color: rgb(29,156,234);
}
.footer>img:nth-child(3):hover{
  background-color: rgb(188,93,179);
}
.footer>img:nth-child(4):hover{
  background-color: rgb(234,76,137);
}
.footer>img:nth-child(5):hover{
  background-color: rgb(5,62,255);
}
/*styling profile page*/
.profile{
  background-color: white;
  background-image: url('../images/abstract_bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:right;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.title_profile{
  background-color: white;
}
.left_profile{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 500px;
  border: 2px solid black;
}
.left_profile>.prof_image{
  height: 50%;
  width: 100%;
}
.main_page{
  background-color: rgba(128, 128, 128, .6);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.navbar-brand{
  border: 2px solid black;
  margin:20px ;
}
.image_profile{
  background-color: white;
  height: 400px;
  padding: 50px;
  border-radius: 10px;
}
.playlist, .recc{
  height: 200px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 10px;
}