@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.banner{
  background-image: url('../images/moviebanner2.jpg');
  background-position: center;
  background-position-x: center;
  margin-top: -3vh;
  width: 99vw;
}
.banner_content{
  background-color: rgba(0, 0, 0, 0.4);
  width: 98vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 35vh;
  color: white;

}
.display_movies{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer{
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer>img{
  width: 100px;
  margin:0;
}
.footer>img:first-child:hover{
  background-color: blue;
}
.footer>img:nth-child(2):hover{
  background-color: rgb(29,156,234);
}
.footer>img:nth-child(3):hover{
  background-color: rgb(188,93,179);
}
.footer>img:nth-child(4):hover{
  background-color: rgb(234,76,137);
}
.footer>img:nth-child(5):hover{
  background-color: rgb(5,62,255);
}